body{
    margin:0;
    background:#f3f4f6;
    display:flex;
    font-size:16px;
    flex-direction:column;
    align-content:center;
    flex-wrap:wrap;
}
header{
    font-weight:bold;
    font-size:1.5em;
    margin:0.8em;
    margin-top:1em;
}
.parent{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    height:calc(90% - 3em);
    width:90vw;
}
.control,.result,.description{
    background:white;
    box-shadow:0 6px 18px rgba(10,10,10,0.06);
    border-radius:5px;
    box-sizing:border-box;
    padding:1em 2em;
    font-size:1.1em;
    overflow-y:auto;
    line-height:2;
}
.left{
    width:40%;
}
.right{
    width:calc(60% - 1em);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.description{
    height:calc(40% - 1em);
}
.result{
    height:60%;
    font-weight:bold;
    text-align:center;
}
#sp{
    font-size:1.5em;
}
select{
    width:90%;
    margin:2px;
    border:1px solid #e5e7eb;
    border-radius:5px;
    font-size:1em;
    padding:8px;
    cursor:pointer;
}
.source{
    display:none;
}
@media screen and (max-width:850px) and (orientation:portrait){
    body{
        font-size:2em;
    }
    .parent{
        flex-wrap:nowrap;
        flex-direction:column;
        height:auto;
    }
    .left{
        width:90vw;
        height:40vh;
    }
    .right{
        width:90vw;
        margin:1em auto;
        height:40vh;
    }
}
