body{
    margin:0;
    background:#f3f4f6;
    display:flex;
    font-size:16px;
    flex-direction:column;
    align-content:center;
    flex-wrap:wrap;
}
header{
    font-weight:bold;
    font-size:1.5em;
    margin:0.8em;
    margin-top:1em;
}
.parent{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    height:calc(90% - 3em);
    width:90vw;
}
.control,.result,.description{
    background:white;
    box-shadow:0 6px 18px rgba(10,10,10,0.06);
    border-radius:5px;
    box-sizing:border-box;
    padding:1em 2em;
    font-size:1.1em;
    overflow-y:auto;
    line-height:2;
}
.left{
    width:40%;
}
.right{
    width:calc(60% - 1em);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.description{
    height:min(calc(100% - 16em),calc(40% - 1em));
}
.result{
    height:max(15em,60%);
    font-weight:bold;
    text-align:center;
}
#sp{
    font-size:1.5em;
}
select{
    width:90%;
    margin:2px;
    border:1px solid #e5e7eb;
    border-radius:5px;
    font-size:1em;
    padding:8px;
    cursor:pointer;
    display:block;
}
.source{
    display:none;
}
#loading{
    display:flex;
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:1;
    justify-content:center;
    align-items:center;
}
#loading img{
    width:10vw;
}
@media screen and (max-width:850px),screen and (orientation:portrait){
    body{
        text-align:center;
        align-items:center;
    }
    .parent{
        flex-wrap:nowrap;
        flex-direction:column;
        height:auto;
    }
    .parent,header{
        text-align:start;
    }
    .left{
        width:90vw;
        height:40vh;
    }
    .right{
        width:90vw;
        margin:1em auto;
        margin-bottom:2em;
        height:60vh;
    }
}
@media screen and (min-width:650px) and (orientation: portrait){
    body{
        font-size:1.5em;
    }
}
